<md-toolbar class='main-toolbar'>

    <div class='ionic-button'>
      <a md-icon-button (click)="sidenav.toggle()">
        <i class='ion-navicon icon-size'></i>
      </a>
      <!-- <a (click)='ifopen=!ifopen' *ngIf='!ifopen' md-icon-button (click)="sidenav.close()">
        <i style='font-size:32px;' class='ion-close-round icon-size'></i>
      </a> -->
    </div>

    <div class='rest'>
      <h2>Calendar</h2>
    </div>

    <div>
      <button md-icon-button (click)='openCashDialog()' >
        <i class='ion-pricetag icon-size' ></i>
      </button>
    </div>
    <div>
      <button md-icon-button (click)='openApptDialog()' >
        <i class='ion-calendar icon-size' ></i>
      </button>
    </div>

  </md-toolbar>

<md-sidenav-container class="big-container">

  <md-sidenav #sidenav mode='push' class="sidenav-inner">
       <md-list >
      <!-- <md-list-item (click)="sidenav.close()" style='margin-left:70%;font-size:20px;' >
        <i class='ion-close-round'></i>
      </md-list-item> -->
      <md-list-item routerLink='/home' class='sidenav-items'> Home </md-list-item>
      <md-list-item routerLink='/cal' class='sidenav-items'> Calendar </md-list-item>
      <md-list-item routerLink='/contacts' class='sidenav-items'> Contacts </md-list-item>
      <md-list-item routerLink='/products' class='sidenav-items'> Products </md-list-item>
      <md-list-item routerLink='/reports' class='sidenav-items'> Reports </md-list-item>
      <md-list-item routerLink='/notifications' class='sidenav-items'> Notifications </md-list-item>
      <md-list-item routerLink='/settings' class='sidenav-items'> Settings </md-list-item>
      <md-list-item (click)="auth.logout()" class='sidenav-items'> Logout </md-list-item>
    </md-list>
  </md-sidenav>

  <div class='calendar-view' >

     <angular2-fullcalendar id='myCalendar' #myCalendar [options]="calendarOptions" ></angular2-fullcalendar>


     <div id="eventContent" class="eventContent">
          <h2 md-dialog-title>Appointment Information</h2>
          <hr>

          <!-- Client Changes  -->

        <md-list>
          <md-list-item>
            <h4>Customer: </h4>
            <p>&nbsp;<span id="eClient" class="eClient"></span></p>
            <button (click)='changeClient = !changeClient'  style="float:right;" md-icon-button>
              <i style='color:#ff4d4d' class='ion-edit'></i>
            </button>
          </md-list-item>

  <div class='modal-options' *ngIf='changeClient' >
    <button (click)='changeClient = !changeClient' style="float:right;" md-icon-button>
        <i style='color:#ff4d4d' class='ion-ios-arrow-back icon-size'></i>
    </button>
      <md-input-container class="example-full-width">
          <form id='filter' >
              <input mdInput placeholder="Search Clients" name=newClient [(ngModel)]='term'>
          </form>
      </md-input-container>
      <div *ngIf='term' >
            <md-list>
                <div *ngFor="let user of users | filter:term"  >
                  <md-list-item (click)='term = user.c_first+" "+user.c_last' >
                      {{ user.c_first }} {{ user.c_last }}
                  </md-list-item>
              </div>
            </md-list>
      </div>
  </div>

            <!-- Service Changes  -->

          <md-list-item>
            <h4>Service: </h4>
            <p>&nbsp;<span id="eService" class="eService"></span></p>
            <button (click)='changeService = !changeService' style="float:right;" md-icon-button>
              <i style='color:#ff4d4d' class='ion-edit'></i>
            </button>
          </md-list-item>

  <div class='modal-options' *ngIf='changeService' >
    <button (click)='changeService = !changeService' style="float:right;" md-icon-button>
        <i style='color:#ff4d4d' class='ion-ios-arrow-back icon-size'></i>
    </button>
      <md-select name=service [(ngModel)]='newservice' placeholder="Service">
          <md-option *ngFor="let service of services" [value]="service.service">
             {{ service.service }}
          </md-option>
      </md-select>
  </div>

               <!-- Barber Changes  -->

          <md-list-item>
            <h4>Barber: </h4>
            <p>&nbsp;<span id="eTitle" class="eTitle"></span></p>
            <button (click)='changeBarber = !changeBarber' style="float:right;" md-icon-button>
              <i style='color:#ff4d4d' class='ion-edit'></i>
            </button>
          </md-list-item>

  <div class='modal-options' *ngIf='changeBarber' >
    <button (click)='changeBarber = !changeBarber' style="float:right;" md-icon-button>
        <i style='color:#ff4d4d' class='ion-ios-arrow-back icon-size'></i>
    </button>
      <md-select name=barber [(ngModel)]='newbarber' placeholder="Barber">
        <md-option *ngFor="let barber of barbers" [value]="barber.b_first">
          {{ barber.b_first }} {{ barber.b_last }}
        </md-option>
      </md-select>
  </div>

        <!-- Date and Time Changes  -->

          <md-list-item>
            <h4>Date and Time: </h4>
            <p>&nbsp;<span id="eStart" class="eStart"></span></p>
            <button (click)='changeDate = !changeDate' style="float:right;" md-icon-button>
              <i style='color:#ff4d4d' class='ion-edit'></i>
            </button>
          </md-list-item>
        </md-list>


  <div class='modal-options' *ngIf='changeDate' >
    <button (click)='changeDate = !changeDate' style="float:right;" md-icon-button>
        <i style='color:#ff4d4d' class='ion-ios-arrow-back icon-size'></i>
    </button>
     <md-input-container>
      <input name=date [(ngModel)]='newdate' mdInput [mdDatepicker]="picker" placeholder="Choose a date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>

    <md-datepicker #picker></md-datepicker>

      <table class="example-full-width" cellspacing="0">
        <tr> <td>
          <md-select name=time [(ngModel)]='timep' placeholder="Time">
              <md-option *ngFor="let t of time" [value]="t">
                {{ t }}
              </md-option>
          </md-select>
            </td> <td>
            <md-select name=am [(ngModel)]='timeam' placeholder="am/pm">
                <md-option value="am" >
                  am
                </md-option>
                <md-option value="pm" >
                  pm
                </md-option>
            </md-select>
          </td>
        </tr>
      </table>

      </div>


      <br />
      <md-dialog-actions name=shop_id id=shop_id >
        <button name=apptDB_id id=apptDB_id style='background:#00e673;color:white;' md-raised-button (click)='onEditEvent(term,newservice,newbarber,newdate,timep,timeam)' > Save </button>
        <button name=eCal_ID id=eCal_ID style='background:#ff4d4d;color:white;' md-raised-button (click)='onDeleteEvent()' > Delete </button>
        <button md-raised-button (click)='closeD()' > Cancel </button>
      </md-dialog-actions>

      </div>
    <div class='md-modal myModal' (click)='closeD()' ></div>

  </div>

</md-sidenav-container>








 <!-- <div  >

      <div class="month">
        <a (click)="days('-')">&#10094;</a>
        <p>{{month}}</p>
        <a (click)="days('+')">&#10095;</a>
      </div>

      <md-grid-list cols="7" class="weekdays" rowHeight="30px">
        <md-grid-tile>Mon</md-grid-tile>
        <md-grid-tile>Tue</md-grid-tile>
        <md-grid-tile>Wed</md-grid-tile>
        <md-grid-tile>Thu</md-grid-tile>
        <md-grid-tile>Fri</md-grid-tile>
        <md-grid-tile>Sat</md-grid-tile>
        <md-grid-tile>Sun</md-grid-tile>
      </md-grid-list>

      <md-grid-list cols='7' class='days'>
        <md-grid-tile class='day' *ngFor='let day of days'>
          <div class='dayNum'>
            <div>{{day}}</div>
          </div>
        </md-grid-tile>
      </md-grid-list>

    </div> -->
