
<div>
  <h2 md-dialog-title >{{modalText.title}} Contact</h2>
  <hr>
  <md-dialog-content>
<form>
  <table cellspacing="0"><tr>
    <td><md-input-container>
      <input mdInput placeholder="First name" name=firstname [(ngModel)]='selectedContact.c_first'>
    </md-input-container></td>
    <td><md-input-container>
      <input mdInput placeholder="Last Name" name=lastname [(ngModel)]='selectedContact.c_last'>
    </md-input-container></td>
  </tr></table>

  <p>
    <md-input-container>
      <input mdInput placeholder="Phone Number" name=phonenumber [(ngModel)]='selectedContact.c_phone'>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Email" name=email [(ngModel)]='selectedContact.c_email'>
    </md-input-container>
  </p>
  <table>
      <tr>
          <td>
              <md-input-container>
                  <input mdInput placeholder="Birthdate" name=bday [(ngModel)]='selectedContact.b_day'>
              </md-input-container>
          </td>
      </tr>
      <tr>
          <td>
            ** Format Example: 2-14-92
          </td>
      </tr>
  </table>

</form>



  </md-dialog-content>

  <md-dialog-actions style="display:flex; justify-content: space-between;">
    <div>
      <button md-raised-button color="lightgreen" (click)='onCloseConfirm(selectedContact)' > {{modalText.button}} </button>
      <button md-raised-button (click)='onCloseCancel()' > Cancel </button>
    </div>
    <button md-raised-button (click)='onDelete(selectedContact)' *ngIf="!data.new" color="warn" > Delete Contact </button>
  </md-dialog-actions>

</div>
