  <md-toolbar class='main-toolbar'>

    <div class='ionic-button'>
      <a md-icon-button (click)="sidenav.toggle()">
        <i class='ion-navicon icon-size'></i>
      </a>
      <!-- <a (click)='ifopen=!ifopen' *ngIf='!ifopen' md-icon-button (click)="sidenav.close()">
        <i style='font-size:32px;' class='ion-close-round icon-size'></i>
      </a> -->
    </div>

    <div class='rest'>
      <h2>Contacts</h2>
    </div>

    <div>
      <button md-icon-button (click)='openCashDialog()' >
        <i class='ion-pricetag icon-size' ></i>
      </button>
    </div>
    <div>
      <button md-icon-button (click)='openApptDialog()' >
        <i class='ion-calendar icon-size' ></i>
      </button>
    </div>

  </md-toolbar>

<md-sidenav-container class="big-container">

  <md-sidenav #sidenav mode='push' class="sidenav-inner">
      <md-list >
      <!-- <md-list-item (click)="sidenav.close()" style='margin-left:70%;font-size:20px;' >
        <i class='ion-close-round'></i>
      </md-list-item> -->
      <md-list-item routerLink='/home' class='sidenav-items'> Home </md-list-item>
      <md-list-item routerLink='/cal' class='sidenav-items'> Calendar </md-list-item>
      <md-list-item routerLink='/contacts' class='sidenav-items'> Contacts </md-list-item>
      <md-list-item routerLink='/products' class='sidenav-items'> Products </md-list-item>
      <md-list-item routerLink='/reports' class='sidenav-items'> Reports </md-list-item>
      <md-list-item routerLink='/services' class='sidenav-items' > Services </md-list-item>
      <md-list-item routerLink='/notifications' class='sidenav-items'> Notifications </md-list-item>
      <md-list-item routerLink='/settings' class='sidenav-items'> Settings </md-list-item>
      <md-list-item (click)="auth.logout()" class='sidenav-items'> Logout </md-list-item>
    </md-list>
  </md-sidenav>


  <div>
    <div class='search-contacts' >
      <div>
      <i class='ion-android-search' ></i>
      <md-input-container>
        <form id='filter' >
          <input name='name' mdInput [(ngModel)]='term'  placeholder="Search contacts" >
        </form>
      </md-input-container>
      </div>
      <div>
        <button md-icon-button (click)='openDialog()' >
          <i class='ion-android-person-add icon-size' ></i>
        </button>
      </div>
    </div>
    <md-list>
      <div class='contacts-box' >
      <md-list-item>
       <div class='view-contacts-head' >
          <p class='box-contacts' > Name </p>
          <p class='box-contacts' > Email </p>
          <p class='box-contacts' > Phone Number </p>
        </div>
      </md-list-item>

      <md-list-item  *ngFor="let user of users | filter:term">

        <div class='view-contacts' (click)="openDialog(user)">
          <p class='box-contacts' > {{user.c_first}} {{ user.c_last }} </p>
          <p class='box-contacts' > {{user.c_email}} </p>
          <p class='box-contacts' > {{user.c_phone}} </p>
        </div>
      </md-list-item>

    </div>
    </md-list>


  </div>




  </md-sidenav-container>
