<md-card>
  <section class='barber-profile-header' >
    <div class='barber-profile-header-left' >
      <div><img class='profile-pic' src="https://maxcdn.icons8.com/Share/icon/Users//user_male_circle_filled1600.png"></div>
    </div>
    <div class="barber-profile-header-right" >
      <md-card-content>
        <h1>{{ selectedBarber.b_first }} {{ selectedBarber.b_last }}</h1>
        <h3>Phone: {{ selectedBarber.b_phone }}</h3>
        <h3>Email: {{ selectedBarber.b_email }}</h3>
      </md-card-content>
    </div>
  </section>
</md-card>

<br>

<md-card>
  
  <md-card-content >
    <md-select placeholder="Pay Type" [(ngModel)]='payType' >
        <md-option value="Commission" > Commission </md-option>
        <md-option value="Booth_Rent" > Booth Rent </md-option>
        <md-option value="Hourly" > Hourly </md-option>
    </md-select>
  </md-card-content>

  <md-card-content >
    <div *ngIf='payType == "Commission"' >
      <md-input-container>
          <input mdInput placeholder="Commission %" type="number" [(ngModel)]="commission">
      </md-input-container>
      {{commission}} %
    </div>
  </md-card-content>

  <md-card-content >
  <div *ngIf='payType == "Booth_Rent"' >
      <md-input-container>
        <input mdInput placeholder="Rent" type="number" [(ngModel)]="rent">
      </md-input-container>
    <md-select placeholder="per..." [(ngModel)]='per'>
      <md-option  value='/wk' >per week</md-option>
      <md-option  value='/2wk' >per 2 weeks</md-option>
      <md-option  value='/m' >per month</md-option>
    </md-select>
    Rate: ${{rent}} {{per}}
  </div>
  </md-card-content>

  <md-card-content>
  <div *ngIf='payType == "Hourly"' >
    <md-input-container>
      <input mdInput placeholder="Rate" type="number" [(ngModel)]="hourly">
    </md-input-container>
    ${{ hourly }} /hr
  </div>
  </md-card-content>

  <md-card-actions>
    <button (click)='save()' md-button>Save</button>
    <button (click)='exit()' md-button>Exit</button>
  </md-card-actions>
</md-card>
