.barber-profile-header{
    display: flex;
}

.barber-profile-header-left{
    display: flex;
    flex: 0.3;
    justify-content: center;
    padding-right: 40px;
}
.barber-profile-header-right{
    display: flex;
    flex: 0.7;
    justify-content: flex-start;
}
