
<div>
  <h2 md-dialog-title >New Product</h2>
  <hr>
  <md-dialog-content>
<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Product Name" name=productname [(ngModel)]='productname'>
        </md-input-container>
      </td>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Type" name=producttype [(ngModel)]='producttype'>
        </md-input-container>
      </td>
    </tr>
  </table>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Cost Per Item" name=productcost [(ngModel)]='productcost'>
        </md-input-container>
      </td>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Product Code" name=productcode [(ngModel)]='productcode'>
        </md-input-container>
      </td>
    </tr>
  </table>

</form>



  </md-dialog-content>

  <md-dialog-actions>
    <button md-raised-button (click)='onCloseConfirm(productname, producttype, productcost, productcode)' > Add </button>
    <button md-raised-button (click)='onCloseCancel()' > Cancel </button>
  </md-dialog-actions>

</div>