
<div>
  <h2 md-dialog-title >Customer History</h2>
  <hr>
  <md-dialog-content>

    <md-list>
      <div class='contacts-box2' >
      <md-list-item>
       <div class='view-contacts-head2' >
          <p class='box-contacts2' > Barber </p>
          <p class='box-contacts2' > Service </p>
          <p class='box-contacts2' > Date </p>
        </div>
      </md-list-item>

      <md-list-item  *ngFor="let item of history">

        <div class='view-contacts2'  >
          <p class='box-contacts2'> {{item.b_first}} {{ item.b_last }} </p>
          <p class='box-contacts2'> {{item.service}} </p>
          <p class='box-contacts2'> {{item.start_time}} </p>
        </div>
      </md-list-item>

      </div>
    </md-list>

  </md-dialog-content>

  <md-dialog-actions style="display:flex; justify-content: space-between;">
    <div>
    </div>
    <button md-raised-button (click)='close()' > Close </button>
  </md-dialog-actions>

</div>
