.reports-box{
    border: 1px solid grey;
    width: 90%;
    margin-left: 5%;
}

.view-reports{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid grey;
    align-items: center;
    height: 53px;
}

.edit-reports-header{
    width: 95%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5px;
}

.edit-reports-btn{
    background: #ff4d4d;
    color: white;
}

.edit-reports-btn2{
    background: #ff4d4d;
    color: white;
}

.edit-repots-text{
    margin-right: 4%;
    text-align: center;
    color: #ff4d4d;
    font-size: 20px;
}

.edit-reports-list-btns{
    display: flex;
    flex: 1;
    justify-content: center;
}

.reports-edit-btn-SD{
    font-size: 28px;
}

.box-reports{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-reports2{
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    color: #cccccc;
}

.box-reports3{
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    color: #cccccc;
}
.box-reports3 input{
    width: 275px;
}

.mat-input-wrapper .mat-input-flex .mat-input-infix{
    padding: 0 !important;
}

.mat-input-underline{
    background-color: white !important;
}

.view-reports-head{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    font-weight: bold;
}
.box-reports-head{
    display: flex;
    height: 80%;;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}
.box-reports-head1{
    display: flex;
    height: 80%;;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
}
.box-reports-head-earn{
    display: flex;
    height: 80%;;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    margin-bottom: 27px;
}

.box-reports-earn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.view-reports-earn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid grey;
    align-items: center;
    margin-top: 50px;
    /* height: 100px;  */
}


.product-header{
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.newbtn{
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}

.barber-card-earn{
    width: 300px;   
    margin: 10px;
}

.report-head-earn{
    margin-left: 5%;
    font-size: 20px;
    width: 90%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.report-head-earn-text{
    margin-right: 15%;
    text-align: center;
    color: #ff4d4d;
    font-size: 20px;
}

.barber-cards{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
}

.barber-cards-left{
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    font-weight: 300;
}

.barber-cards-right{
    display: flex;
    flex: 1;
    align-items: flex-end;
    flex-direction: column;
}

.barber-cards-content{
    display: flex;
    width: 100%;
}

.pastDays-btn{
    background: #ff4d4d;
    color: white;

}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.mult-service{
    padding-top: 3px;
}
