.reports-box{
    border: 1px solid grey;
    width: 90%;
    margin-left: 5%;
}

.view-reports{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid grey;
    align-items: center;
}

.box-reports{
    display: flex;
    flex: 1;
    justify-content: center;
}

.view-reports-head{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    font-weight: bold;
}
.box-reports-head{
    display: flex;
    height: 80%;;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}
.box-reports-head-earn{
    display: flex;
    height: 80%;;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    margin-bottom: 27px;
}

.box-reports-earn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.view-reports-earn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid grey;
    align-items: center;
    margin-top: 50px;
    /* height: 100px;  */
}
.report-head-earn{
    margin-left: 5%;
    font-size: 20px;
    width: 90%;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
}

.product-header{
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.newbtn{
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}
