.barb-info {
  display: flex;
  justify-content: space-around;
}
.barb-pay {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.income-type {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.inc-det {
  width: 50%;
}
