<md-toolbar class='main-toolbar'>

  <div class='ionic-button'>
    <a md-icon-button (click)="sidenav.toggle()">
        <i class='ion-navicon icon-size'></i>
      </a>
    <!-- <a (click)='ifopen=!ifopen' *ngIf='!ifopen' md-icon-button (click)="sidenav.toggle()">
        <i style='font-size:32px;' class='ion-close-round icon-size'></i>
      </a> -->
  </div>

  <div class='rest'>
    <h2>Shop Name</h2>
  </div>
  <div>
    <button md-icon-button (click)='openCashDialog()'>
        <i class='ion-pricetag icon-size' ></i>
      </button>
  </div>
  <div>
    <button md-icon-button (click)='openApptDialog()'>
        <i class='ion-calendar icon-size' ></i>
      </button>
  </div>

</md-toolbar>

<md-sidenav-container class="big-container">

  <md-sidenav #sidenav mode="push" class="sidenav-inner">
    <md-list>

      <md-list-item *ngIf='profType' routerLink='/home' class='sidenav-items'> Home </md-list-item>
      <md-list-item routerLink='/cal' class='sidenav-items'> Calendar </md-list-item>
      <md-list-item routerLink='/contacts' class='sidenav-items'> Contacts </md-list-item>
      <md-list-item *ngIf='profType' routerLink='/products' class='sidenav-items'> Products </md-list-item>
      <md-list-item *ngIf='profType' routerLink='/reports' class='sidenav-items'> Reports </md-list-item>
      <md-list-item *ngIf='profType' routerLink='/services' class='sidenav-items' > Services </md-list-item>
      <md-list-item *ngIf='profType' routerLink='/notifications' class='sidenav-items'> Notifications </md-list-item>
      <md-list-item *ngIf='profType' routerLink='/settings' class='sidenav-items'> Settings </md-list-item>
      <md-list-item (click)="logout()" class='sidenav-items'> Logout </md-list-item>
    </md-list>
  </md-sidenav>


  <section class='all-scroll'>
    <div class='top-stats'>

          <div class="stats-cards">
            <md-card class="card-layout">
              <h4>This Weeks Wages</h4>
              <md-card-content>
                <canvas baseChart
                [data]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </md-card-content>
            </md-card>

            <md-card class="card-layout">
                <h4>Average Time Spent Cutting</h4>
                <md-card-content>
                    <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </md-card-content>
              </md-card>

            <md-card class="card-layout">
              <h4>This Weeks Wages vs. Tips</h4>
              <md-card-content>
              <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
              </md-card-content>
            </md-card>
          </div>
          

    </div>

    <div class='barber-profiles'>

      <md-card *ngFor="let barber of barbers" class="example-card">
        <h3 style="text-align:center;">{{ barber.b_first }} {{ barber.b_last }}</h3>
        <img class='profile-pic' src="https://maxcdn.icons8.com/Share/icon/Users//user_male_circle_filled1600.png">
        <md-card-content>
          <div class='profile-stat'>
            <p>Wages:</p>
            <!-- This is dummy data -->
            <p>$468.90</p>
          </div>
          <div class='profile-stat'>
            <p>Tips:</p>
            <!-- This is dummy data -->
            <p>$46.50</p>
          </div>
          <div class='profile-stat'>
            <p>Appointments:</p>
            <p>7</p>
          </div>
          <div class='profile-stat'>
            <p>Completed Appointments:</p>
            <p>5</p>
          </div>
        </md-card-content>
        <md-card-actions class='profile-actions'>
          <button md-button (click)='openBarberModal(barber)'>View Profile</button>
          <button md-button (click)='openApptDialog()'>Make Appointment</button>
        </md-card-actions>
      </md-card>



    </div>

  </section>


</md-sidenav-container>
