<div>
  <h2 md-dialog-title>Checkout</h2>
  <hr>

  <md-dialog-content>
    <div *ngIf='!newCustomer'>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
                <h4>Existing Customer</h4>
            </td>
          </tr>
          <tr>
            <td>
              <md-select name=customer [(ngModel)]='customer' placeholder="Client">
                <md-option *ngFor="let client of clients" [value]="client.value">
                  {{ client.viewValue }}
                </md-option>
              </md-select>
            </td>
          </tr>
          <tr>
            <td>
              <br>
                <md-slide-toggle (change)="newCustomer = !newCustomer"  [checked]="newCustomer" value="1">New Customer</md-slide-toggle><br>
              <br>
            </td>
          </tr>
        </table>
     </div> 

     <div *ngIf='newCustomer' >
          <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <h5>New Customer</h5>
                </td>
            </tr>
            <tr>
              <td>
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="First name" name=firstname [(ngModel)]='firstname'>
                </md-input-container>
              </td>
              <td>
                <md-input-container class="example-full-width">
                <input mdInput placeholder="Last Name" name=lastname [(ngModel)]='lastname'>
              </md-input-container>
            </td>
            </tr>
        </table>

        <p>
          <md-input-container class="example-full-width">
            <textarea style='resize: none;' mdInput placeholder="Phone Number" name=phonenumber [(ngModel)]='phonenumber'></textarea>
          </md-input-container>
          <md-input-container class="example-full-width">
            <textarea style='resize: none;' mdInput placeholder="Email" name=email [(ngModel)]='email'></textarea>
          </md-input-container>
        </p>
        <tr>
          <td>
              <br>
                <md-slide-toggle (change)="newCustomer = !newCustomer"  [checked]="newCustomer" value="1">New Customer</md-slide-toggle><br>
                <br>
              </td>
          </tr>
    </div>

      <h2 md-dialog-title>Service Information</h2>
      <hr>
      <br>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-select name=service [(ngModel)]='service' placeholder="Service">
              <md-option *ngFor="let service of services" [value]="service.value">
                {{ service.viewValue }}
              </md-option>
            </md-select>
          </td>
          <td>
            <md-select name=barber [(ngModel)]='barber' placeholder="Barber">
              <md-option *ngFor="let barber of barbers" [value]="barber.value">
                {{ barber.viewValue }}
              </md-option>
            </md-select>
          </td>
        </tr>
      </table>
      
      <br>

      <h2 md-dialog-title>Payment</h2>
      <hr>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Price" name=price [(ngModel)]='price'>
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Tip" name=tip [(ngModel)]='tip'>
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Amount Paid" name=amtpaid [(ngModel)]='amtpaid'>
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
              <br>
                <md-slide-toggle (change)="addProduct = !addProduct"  [checked]="addProduct" value="1">Add Product</md-slide-toggle><br>
                <br>
            </td>
          </tr>
      </table>

      <div *ngIf='addProduct' >
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
               <md-select name=product [(ngModel)]='product' placeholder="Product">
                  <md-option value="Gatorade" >
                    Gatorade
                  </md-option>
                  <md-option value="Hair Product" >
                    Hair Product
                  </md-option>
                </md-select>
              </td>
            </tr>
        </table>
        <br>
      </div>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-radio-group name=typeP [(ngModel)]='typeP' >
              <md-radio-button value="Cash">Cash</md-radio-button><br><br>
              <md-radio-button value="Credit/Debit">Credit/Debit</md-radio-button>
            </md-radio-group>
          </td>
        </tr>
      </table>

    <br>

  </md-dialog-content>

  <md-dialog-actions>
    <button md-raised-button (click)='onCloseConfirm(customer, firstname, lastname, phonenumber, email, service, barber, price, tip, amtpaid, typeP)'> Submit </button>
    <button md-raised-button (click)='onCloseCancel()'> Cancel </button>
  </md-dialog-actions>

</div>
