<div>
  <h2 md-dialog-title>Checkout</h2>
  <hr>

  <md-dialog-content>
        <div *ngIf='needToPay[0] != "nope"' class='service-info'>
          <div>
            <h2 md-dialog-title>Service Information</h2>
          </div>
          
          <div>
            <md-select placeholder="Appointments" [(ngModel)]="selected">
              <md-option (click)='apptSelected(appt)' *ngFor="let appt of needToPay" [value]="appt">
                {{ appt.c_first }} {{ appt.c_last }} - {{ appt.service }}
              </md-option>
            </md-select>
          </div>
        </div>
        
          <div style="display:flex; justify-content:space-between">
            <div>
              <h4><u>Client</u></h4>
              <p> {{ selected?.c_first}} {{selected?.c_last}} </p>
            </div>
            <div>
              <h4><u>Service</u></h4>
              <p>{{selected?.service}}</p>
              <p *ngIf='selected?.service2' >{{selected?.service2}}</p>
              <p *ngIf='selected?.service3' >{{selected?.service3}}</p>
            </div>
            <div>
              <h4><u>Barber</u></h4>
              <p>{{selected?.b_first}} {{selected?.b_last}}</p>
            </div>
          </div>
        

          <br>

    <div>
        <h2 md-dialog-title>Add Products and Services</h2>
        <hr>

        <div class='product-select' >
            <div>
              <md-select name=product [(ngModel)]='chosenproduct' placeholder="Product">
                <md-option *ngFor='let product of products' [value]="product" >
                  {{ product?.product }} -
                  {{ product?.price }}
                </md-option>
              </md-select>
            </div>
            <div>
              <md-input-container style="margin-left:10px;" >
                  <input mdInput placeholder="Quantity" name=productQ [(ngModel)]='productQ' type="number">
                </md-input-container>
            </div>
          </div>
          <h4><u>Additional Products</u></h4>
          <div class='product-select' >
            <div>
              <md-select name=product [(ngModel)]='chosenproduct2' placeholder="Product">
                <md-option *ngFor='let product of products' [value]="product" >
                  {{ product?.product }} -
                  {{ product?.price }}
                </md-option>
              </md-select>
            </div>
            <div>
              <md-input-container style="margin-left:10px;" >
                  <input mdInput placeholder="Quantity" name=productQ [(ngModel)]='productQ2' type="number">
                </md-input-container>
            </div>
          </div>

        <h2 md-dialog-title>Payment</h2>
        <hr>
           
        <div class='paystuff' >
          <div class='paystuff-left' >
              <div >
                  Service Price(s): 
              </div>
              <div >
                  Product Price(s): 
              </div>
              <div>
                <md-input-container >
                    <input mdInput placeholder="Tip" name=tip [(ngModel)]='tip' type="number">
                </md-input-container>
              </div>
              <div >
                  Total:
              </div>
          </div>
          <div class='paystuff-right' >
              <div >
                  {{ selected?.price + (selected?.serviceP2 ? selected?.serviceP2 : 0) + (selected?.serviceP3 ? selected?.serviceP3 : 0) | currency:'USD':true }} 
              </div>
              <div >
                  {{ (chosenproduct?.price * productQ) + (chosenproduct2?.price * productQ2) | currency:'USD':true }} 
              </div>
              <div>
                  {{ tip | currency:'USD':true }}
              </div>
              <div >
                  {{ selected?.price + (selected?.serviceP2 ? selected?.serviceP2 : 0) + (selected?.serviceP3 ? selected?.serviceP3 : 0) + tip + (chosenproduct?.price * productQ) + (chosenproduct2?.price * productQ2) | currency:'USD':true }}
              </div>
          </div>
        </div>

        <br>
        <h4><u>Payment Method</u></h4>
        <md-radio-group name=typeP [(ngModel)]='typeP' >
          <md-radio-button value="Cash">Cash</md-radio-button><br><br>
          <md-radio-button value="Credit/Debit">Credit/Debit</md-radio-button>
        </md-radio-group>
    </div>

  </md-dialog-content>

  <md-dialog-actions>
    <button md-raised-button (click)='onCloseConfirm(customer, firstname, lastname, phonenumber, email, serviceVal, barber, price, tip, amtpaid, typeP, product, bday)'> Submit </button>
    <button md-raised-button (click)='onCloseCancel()'> Cancel </button>
  </md-dialog-actions>

</div>
