<div>
  <h2 md-dialog-title>Checkout</h2>
  <hr>

  <md-dialog-content>
    <md-tab-group (selectChange)='changeTab()'>
      <md-tab  label="Scheduled Appointments">

        <div class='service-info'>
          <div>
            <h2 md-dialog-title>Service Information</h2>
          </div>
          
          <div>
            <md-select placeholder="Appointments" [(ngModel)]="selected">
              <md-option *ngFor="let appt of needToPay" [value]="appt">
                {{ appt.c_first }} {{ appt.c_last }} - {{ appt.service }}
              </md-option>
            </md-select>
          </div>
        </div>
        <hr>

        
          <div style="display:flex; justify-content:space-between">
            <div>
              <h4><u>Client</u></h4>
              <p> {{ selected?.c_first}} {{selected?.c_last}} </p>
            </div>
            <div>
              <h4><u>Service</u></h4>
              <p>{{selected?.service}}</p>
            </div>
            <div>
              <h4><u>Barber</u></h4>
              <p>{{selected?.b_first}} {{selected?.b_last}}</p>
            </div>
          </div>
        

          <br>
        

      </md-tab>

      <md-tab label="Walk In">
        <div *ngIf='!newCustomer'>
            <table cellspacing="0">
              <tr>
                <td>
                    <h5>Existing Customer</h5>
                </td>
              </tr>
              <tr>
                <td>
                  <md-select name=customer [(ngModel)]='customer' placeholder="Client">
                    <md-option *ngFor="let client of clients" [value]="client.c_id">
                      {{ client.c_first }} {{ client.c_last }}
                    </md-option>
                  </md-select>
                </td>
              </tr>
              <tr>
                <td>
                  <br>
                    <md-slide-toggle (change)="newCustomer = !newCustomer"  [checked]="newCustomer" value="1">New Customer</md-slide-toggle><br>
                  <br>
                </td>
              </tr>
            </table>
         </div>

         <div *ngIf='newCustomer' >
              <table cellspacing="0">
                <tr>
                    <td>
                        <h5>New Customer</h5>
                    </td>
                </tr>
                <tr>
                  <td>
                    <md-input-container >
                        <input mdInput placeholder="First name" name=firstname [(ngModel)]='firstname'>
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container >
                    <input mdInput placeholder="Last Name" name=lastname [(ngModel)]='lastname'>
                  </md-input-container>
                </td>
                </tr>
            </table>
            <p>
              <md-input-container >
                <input mdInput placeholder="Phone Number" name=phonenumber [(ngModel)]='phonenumber'>
              </md-input-container>
              <md-input-container >
                <input mdInput placeholder="Email" name=email [(ngModel)]='email'>
              </md-input-container>
            </p>

            <table>
                <tr>
                    <td>
                        <md-input-container>
                            <input mdInput placeholder="Birthday" name=bday [(ngModel)]='bday'>
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>
                      ** Format Example: 2-14-92
                    </td>
                </tr>
            </table>
            <tr>
              <td>
                  <br>
                    <md-slide-toggle (change)="newCustomer = !newCustomer"  [checked]="newCustomer" value="1">New Customer</md-slide-toggle><br>
                    <br>
                  </td>
              </tr>
        </div>

          <h2 md-dialog-title>Service Information</h2>
          <hr>
          <br>
          <table  cellspacing="0">
            <tr>
              <td>
                <md-select name=service [(ngModel)]='serviceVal' placeholder="Service">
                  <md-option *ngFor="let service of services" [value]="service">
                    {{ service.service }}
                  </md-option>
                </md-select>
              </td>
              <td>
                <md-select name=barber [(ngModel)]='barber' placeholder="Barber">
                  <md-option *ngFor="let barber of barbers" [value]="barber.b_id">
                    {{ barber.b_first }} {{ barber.b_last}}
                  </md-option>
                </md-select>
              </td>
            </tr>
          </table>

        <br>
      </md-tab>
    </md-tab-group>

    <div>
        <h2 md-dialog-title>Payment</h2>
        <hr>
            <div class='product-select' >
              <div>
              <md-select name=product [(ngModel)]='chosenproduct' placeholder="Product">
                <md-option *ngFor='let product of products' [value]="product" >
                  {{ product?.product }} -
                  {{ product?.price }}
                </md-option>
              </md-select>
              </div>
              <div>
              <md-input-container style="margin-left:10px;" >
                  <input mdInput placeholder="Quantity" name=productQ [(ngModel)]='productQ' type="number">
                </md-input-container>
              </div>
            </div>
        <div class='paystuff' >
            <div *ngIf='walk' >
              Price: {{ serviceVal?.price | currency:'USD':true }} 
            </div>
            <div *ngIf='!walk' >
              Price: {{ selected?.price | currency:'USD':true }} 
            </div>
            <div>
              <md-input-container >
                <input mdInput placeholder="Tip" name=tip [(ngModel)]='tip' type="number">
              </md-input-container>
            </div>
            <div *ngIf='walk'  >
              Total: {{ (serviceVal?.price ? serviceVal?.price : 0) + tip + (chosenproduct?.price * productQ) | currency:'USD':true }}
            </div>
            <div *ngIf='!walk'  >
              Total: {{ selected?.price + tip + (chosenproduct?.price * productQ) | currency:'USD':true }}
            </div>
        </div>
        <br>
        <h4><u>Payment Method</u></h4>
        <md-radio-group name=typeP [(ngModel)]='typeP' >
          <md-radio-button value="Cash">Cash</md-radio-button><br><br>
          <md-radio-button value="Credit/Debit">Credit/Debit</md-radio-button>
        </md-radio-group>
    </div>

  </md-dialog-content>

  <md-dialog-actions>
    <button md-raised-button (click)='onCloseConfirm(customer, firstname, lastname, phonenumber, email, serviceVal, barber, price, tip, amtpaid, typeP, product, bday)'> Submit </button>
    <button md-raised-button (click)='onCloseCancel()'> Cancel </button>
  </md-dialog-actions>

</div>
